@charset "UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* { /* paddings e margins zerados */
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}
:root{
    --cor0: #ace0c4;
    --cor1: #82E3AE;
    --cor2: #3DDD85;
    --cor3: #31B06A;
    --cor4: #1A5E39;
    --cor5: #113f26;
    --font-android: 'android', cursive, sans-serif;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}
body {
    background-color: var(--cor1);
}

/* config header */
header{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.849), var(--cor2));
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.39);
    min-height: 150px;
}
header > h1{
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    padding: 25px 10px 15px 10px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
header > p {
    font-family: var(--font-padrao);
    font-size: 1em;
    padding: 0px 0px 40px 0px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
header > h1, header > p{
    text-align: center;
}
header > nav {
    padding: 0px 0px 15px 0px;
}
header > nav > a {
    font-family: var(--font-padrao);
    text-decoration: none;
    color: var(--cor1);
    padding: 8px 20px;
}
header > nav > a:hover{
    color: var(--cor4);
    background-color: var(--cor2);
    border-radius: 5px;
    transition-duration: 0.2s;
}

/* config main */
main {
    background-color: white;
    min-width: 300px;
    max-width: 850px;
    margin: auto;
    padding: 5px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-radius: 0px 0px 10px 10px;
}
main p{
    margin: 15px 0px;
    text-indent: 15px;
    text-align: justify;
    line-height: 1.7em;
}
main strong{
    color: var(--cor4);
}
main a{
    background-color: var(--cor1);
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 4px;
}
main a:hover{
    text-decoration: underline;
    color: black;
    
}
main h1 {
    padding-top: 15px;
    font-family: var(--font-android);
    font-size: 2em;
    font-weight: normal;
    color: var(--cor5);
}
main > article > h2{
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-family: var(--font-android);
    font-weight: normal;
    padding: 2px 8px;
    color: var(--cor4);
    border-radius: 4px;
}
main > article > picture > img{
    width: 100%;
    max-width: 900px;
    display: block;
    margin: auto;
}
main > article > picture > img#foto-pequena{
    display: block;
    margin: auto;
    max-width: 300px;
}
main .linkexterno::after{
    content: '\00A0\1F517';
}


/* config video */
main aside#aside-video{
    background-color: var(--cor4);
    margin: 0px -20px;
    padding-bottom: 58.5%;
    position: relative;
}
main aside#aside-video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


/* aside extra */
main #aside-extra{
    background-color: var(--cor0);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
}
main #aside-extra h2{
    color: white;
    background-color: var(--cor3);
    padding: 10px;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
}
main #aside-extra > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding-left: 10px;
}

footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 8px 0px;
    font-size: 1em;
}
footer a{
    text-decoration: none;
    color: var(--cor0);
}
footer a:hover{
    text-decoration: underline;
}  